<div class="row">
  	<div class="col-lg-4 col-md-6 ml-auto mr-auto">

    <h2 class="text-center">Добро пожаловать</h2>

	<h4>Это официальный сайт парикмахерской</h4>
	<br/>

	<p>
	  <%= link_to 'Записаться онлайн', new_bookings_path, class: "btn btn-primary" %>
	</p>

	<br/>
	<br/>
	<br/>
	<b>Создан студентом группы ИСП-334, Красавином С. В.</b>
	</div>
</div>