<h3>Список пользователей</h3>
<hr/>

<div class="table-responsive">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th class="" scope="col">Id</th>
      <th class="" scope="col">Имя</th>
      <th class="" scope="col">Почта</th>      
      <th class="" scope="col">Роль</th>
      <th class="" scope="col">Последнее обновление</th>
      <th class="" scope="col">Дата создания</th>
      <th class="shrink" scope="col"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
