<div class="col-3">  
  <!-- List group -->
  <ul class="nav flex-column list-group">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link list-group-item" href="<%= admin_bookings_path %>">Active</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link list-group-item" href="<%= admin_dashboard_path %>">Link</a>
  </li>
  </ul>
  </nav>
</div>
