<div class="col-3">  
  <!-- List group -->
  <div class="card">
    <div class="card-header">Навигация</div>
  <ul class="nav flex-column list-group nav-sm list-group-sm">
  <li class="nav-item">
    <a class="nav-link list-group-item <%= 'active' if current_page?(admin_bookings_path) %>" href="<%= admin_bookings_path %>">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link list-group-item <%= 'active' if current_page?(admin_dashboard_path) %>" href="<%= admin_dashboard_path %>">Link</a>
  </li>
  </ul>
  </div>
</div>
